Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault
Xft.dpi:        93


! special
*.foreground:   #fff6ff
*.background:   #05080a

! black
*.color0:       #0A0D0F
*.color8:       #0f1214

! red
*.color1:       #ff9fbc
*.color9:       #ffa4c1

! green
*.color2:       #baf7b5
*.color10:      #bffcba

! yellow
*.color3:       #ffc79b
*.color11:      #ffcca0

! blue
*.color4:       #b2fff3
*.color12:      #b7fff8

! purple
*.color5:       #dfbaff
*.color13:      #e4bfff

! pink
*.color6:       #ffc2df
*.color14:      #ffc7e4

! white
*color7:        #fff6ff
*color15:       #fffbff
