Xft.antialias:  1
Xft.hinting:    1
Xft.autohint:   0
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
Xft.dpi: 93

! Mountain Xresources palette

! Special
*.foreground: #f0f0f0
*.background: #0f0f0f

! Black
*.color0:     #262626
*.color8:     #4c4c4c

! Red
*.color1:     #ac8a8c
*.color9:     #c49ea0

! Green
*.color2:     #8aac8b
*.color10:    #9ec49f

! Yellow
*.color3:     #c6a679
*.color11:    #ceb188

! Blue
*.color4:     #8f8aac
*.color12:    #a39ec4

! Magenta
*.color5:     #ac8aac
*.color13:    #c49ec4

! Cyan
*.color6:     #8aabac
*.color14:    #9ec3c4

! White
*.color7:     #CACACA
*.color15:    #e7e7e7
