
@import "shape_classic.rasi"

#window {
    width: 340px;
    border-radius:14px;
}

#listview {
    padding: 20px;
    spacing: 8px;
}

#element {
    padding: 2px -5px 2px 1px;
    border: 0px;
    border-radius: 5px;
}

