/* colors */

* {
  al:      #0A0D0F;
  bg:      #0A0D0F;
  bg2:     #0A0D0F; 
  se:      #101519;
  fg:      #F4F0F9;
  ac:      #BCA7DD;
  red:     #FF9E99;
  green:   #B4F8C8;
  yellow:  #FFFAAD;
  blue:    #A0E7E5;
  purple:  #BCA7DD;
  cyan:    #A0E7E5;
}
